#include <physical_layouts.dtsi>

/ {
    layout_0: layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   40       0     0     0>
            , <&key_physical_attrs 100 100  100   33       0     0     0>
            , <&key_physical_attrs 100 100  200    7       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    7       0     0     0>
            , <&key_physical_attrs 100 100  500   20       0     0     0>
            , <&key_physical_attrs 100 100  900   20       0     0     0>
            , <&key_physical_attrs 100 100 1000    7       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    7       0     0     0>
            , <&key_physical_attrs 100 100 1300   33       0     0     0>
            , <&key_physical_attrs 100 100 1400   40       0     0     0>
            , <&key_physical_attrs 100 100    0  140       0     0     0>
            , <&key_physical_attrs 100 100  100  132       0     0     0>
            , <&key_physical_attrs 100 100  200  107       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  108       0     0     0>
            , <&key_physical_attrs 100 100  500  120       0     0     0>
            , <&key_physical_attrs 100 100  900  120       0     0     0>
            , <&key_physical_attrs 100 100 1000  108       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  107       0     0     0>
            , <&key_physical_attrs 100 100 1300  132       0     0     0>
            , <&key_physical_attrs 100 100 1400  140       0     0     0>
            , <&key_physical_attrs 100 100    0  241       0     0     0>
            , <&key_physical_attrs 100 100  100  233       0     0     0>
            , <&key_physical_attrs 100 100  200  208       0     0     0>
            , <&key_physical_attrs 100 100  300  201       0     0     0>
            , <&key_physical_attrs 100 100  400  208       0     0     0>
            , <&key_physical_attrs 100 100  500  220       0     0     0>
            , <&key_physical_attrs 100 100  900  220       0     0     0>
            , <&key_physical_attrs 100 100 1000  208       0     0     0>
            , <&key_physical_attrs 100 100 1100  201       0     0     0>
            , <&key_physical_attrs 100 100 1200  208       0     0     0>
            , <&key_physical_attrs 100 100 1300  233       0     0     0>
            , <&key_physical_attrs 100 100 1400  241       0     0     0>
            , <&key_physical_attrs 100 100    0  341       0     0     0>
            , <&key_physical_attrs 100 100  100  333       0     0     0>
            , <&key_physical_attrs 100 100  200  308       0     0     0>
            , <&key_physical_attrs 100 100  300  301       0     0     0>
            , <&key_physical_attrs 100 100  400  308       0     0     0>
            , <&key_physical_attrs 100 100  500  320       0     0     0>
            , <&key_physical_attrs 100 100  600  270       0     0     0>
            , <&key_physical_attrs 100 100  800  270       0     0     0>
            , <&key_physical_attrs 100 100  900  320       0     0     0>
            , <&key_physical_attrs 100 100 1000  308       0     0     0>
            , <&key_physical_attrs 100 100 1100  301       0     0     0>
            , <&key_physical_attrs 100 100 1200  308       0     0     0>
            , <&key_physical_attrs 100 100 1300  333       0     0     0>
            , <&key_physical_attrs 100 100 1400  341       0     0     0>
            , <&key_physical_attrs 100 100  249  408       0     0     0>
            , <&key_physical_attrs 100 100  349  408       0     0     0>
            , <&key_physical_attrs 100 100  449  420       0     0     0>
            , <&key_physical_attrs 100 150  549  370    3000   549   520>
            , <&key_physical_attrs 100 150  851  370 (-3000)   951   520>
            , <&key_physical_attrs 100 100  951  420       0     0     0>
            , <&key_physical_attrs 100 100 1051  408       0     0     0>
            , <&key_physical_attrs 100 100 1151  408       0     0     0>
            ;
    };
};

